

/* Controls ------------------------- */

.Custom-style {
    position: relative;
    max-width: 320px;
    margin: 3rem auto;
    text-align: left;
    font-size: 16px;
    line-height: 1.8;
    color: hsla(0, 100%, 0%, 0.6);
    border-radius: 8px;
    padding: 1em;
    outline: none;
    color: white;
    background: hsl(219, 79%, 66%);
    transition: background .2s;
}

.Custom-style:hover {
    background: hsl(219, 79%, 72%);
}

.Custom-style:focus {
    background: hsl(219, 79%, 60%);
}


.Custom-style:after {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    margin: .6em 0 -.6em -.6em;
    left: 50%;
    bottom: 0;
    background: inherit;
    border-bottom-right-radius: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
