

/* Demo ------------------------- */

.Demo {
    color: coral;
    padding: .5rem;
}

@media (min-width: 760px) {
    .Demo {
        margin-top: 4rem;
        margin-bottom: 0;
    }
}

.Demo > .digit-Checkbox {
    fill: inherit;
}

.Demo .montage-ToggleSwitch--checked > .digit-ToggleSwitch-thumb {
    background-color: hsl(219, 16%, 24%);
}

.Demo > [class*="digit"] {
    margin: .5rem;
}

.Demo > [class*="digit"]:nth-child(1) { color: mediumspringgreen; }
.Demo > [class*="digit"]:nth-child(2) { color: coral; }
.Demo > [class*="digit"]:nth-child(3) { color: deepskyblue; }
.Demo > [class*="digit"]:nth-child(4) { color: hotpink; }
