
/* 
 * This file is reserved for your global style rules. 
 */

html {
    font-family: sans-serif;
    color: #333;
    /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0; /* Remove default margin */
    height: 100%;
}


/* Page layout */

.Main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



/* Digit Overrides */

.Main .digit-TextArea {
    vertical-align: middle;
}