
/* 
 * This file is reserved for your global style rules. 
 */

html {
    font-family: Avenir, sans-serif;
    height: 100%;
    
    /* vars */
    color: cornflowerblue;
    font-size: 16px; /* Spacing of components */
}

body {
    margin: 0; /* Remove default margin */
    height: 100%;
    
    /* vars */
    font-size: 16px; /* Sizing of components */
}

section {
    padding: .5rem;
}

section > [class*="digit"] {
    margin: .5rem;
}



/* Page layout */

.Main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.Title {
    color: hsl(0, 0%, 30%);
    font-size: 48px;
    font-weight: 300;
    margin-bottom: .4em;
}


.Controls {
    font-size: 16px;
    padding: 1.5em;
    margin-bottom: 5em;
    border-radius: 1em;
    color: hsl(0, 0%, 75%);
    border: 1px solid;
}

.Footer {
    margin-top: 5em;
    font-size: 16px;
    color: hsl(0, 0%, 60%);
}

.Footer a {
    text-decoration: none;
    color: hsl(0, 0%, 30%);
}




/* Digit Overrides */

.Main .digit-Button {
    font-family: inherit;
}

.Main .digit-TextField {
    font-family: inherit;
}

.Main .digit-Slider {
    vertical-align: middle;
}

