
/* 
 * This file is reserved for your global style rules. 
 */

html {
    font-family: Avenir, sans-serif;
    height: 100%;
    
    /* vars */
    color: cornflowerblue;
    font-size: 16px; /* Spacing of components */
}

body {
    margin: 0; /* Remove default margin */
    height: 100%;
    
    /* vars */
    font-size: 16px; /* Sizing of components */
}

section {
    padding: .5rem;
}

section > [class*="digit"] {
    margin: .5rem;
}



/* Page layout */

.Main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    min-height: 800px;
}

.Title {
    color: hsl(0, 0%, 30%);
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 2rem;
}


.Controls {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    font-size: 12px;
    padding: 1.5em;
    margin-bottom: 5em;
    border-radius: .5em;
    background: #fff;
    color: hsl(0, 0%, 70%);
}

.Controls .digit-Slider {
    margin: 0 1em;
}

.Controls .digit-Slider:after {
    content: "color";
    position: absolute;
    bottom: -1em;
    font-size: 1.2em;
    color: hsl(0, 0%, 30%);
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .3s;
}

.Controls .digit-Slider:nth-child(1):after { content: "color"; }
.Controls .digit-Slider:nth-child(2):after { content: "size"; }
.Controls .digit-Slider:nth-child(3):after { content: "spacing"; }

.Controls .digit-Slider:hover:after {
    opacity: 1;
}

.Footer {
    max-width: 400px;
    margin-top: 2rem;
    text-align: center;
    font-size: 16px;
    color: hsl(0, 0%, 70%);
}

.Footer a {
    text-decoration: none;
    color: hsl(0, 0%, 30%);
}




/* Digit Overrides */

.Main .digit-Button {
    font-family: inherit;
}

.Main .digit-TextField {
    font-family: inherit;
}

.Main .digit-Slider {
    vertical-align: middle;
}

