/* 
 * This file is reserved for your global style rules. 
 */

* {
    box-sizing: border-box;
}

html {
    font-family: Avenir, sans-serif;
    color: hsl(0, 0%, 50%);
    font-size: 16px; /* Spacing of components */
}

body {
    margin: 0; /* Remove default margin */
    text-align: center;
    font-size: 16px; /* Sizing of components */
}
@media (min-width: 760px) {
    body {
        font-size: 1.2em;
    
        line-height: 1.6;
}
}

a {
    text-decoration: none;
    color: hsl(210, 70%, 50%);
}

p {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

pre {
    text-align: left;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

code {
    color: hsl(0, 0%, 30%);
}

strong {
    font-weight: normal;
    color: hsl(0, 0%, 30%);
}


h1,
h2 {
    color: hsl(219, 50%, 36%);
    font-weight: 300;
}

h2 {
    font-size: 5vw;
}
@media (min-width: 760px) { h2 { font-size: 36px; } }
@media (max-width: 400px) { h2 { font-size: 20px; } }

h3 {
    font-size: 1.2em;
    font-weight: normal;
}


/* Logo -------------------------------------------- */

h1 {
    color: hsl(219, 79%, 96%);
    line-height: 1;
    font-size: 12vw;
    font-weight: 400;
    font-family: 'Advent Pro', sans-serif;
    margin-top: 1rem;
}
@media (min-width: 760px) { h1 { font-size: 72px; } }

h1 .Icon {
    height: 1.2em;
    display: inline-block;
    vertical-align: middle;
    margin: -0.1em .1em 0 0;
}


/* Utils -------------------------------------------- */

.u-left {
    text-align: left;
}


/* Components -------------------------------------------- */

.Components > [class*="digit"],
.Components-group > [class*="digit"] {
    margin: .5rem;
}

.Components-group {
    padding: .5rem;
}

.Components.Components--original {
    font-size: 16px;
    color: cornflowerblue;
}



/* Digit Overrides ------------------------- */

.digit-Button.digit-Button {
    font-family: inherit;
}

.digit-TextField.digit-TextField {
    font-family: inherit;
}

.digit-Slider.digit-Slider {
    vertical-align: middle;
}



/* Sections -------------------------------------------- */

section {
    margin: 8rem 0;
    padding: 0 10px;
}

@media (min-width: 400px) {
    section {
        padding: 0 20px;
    }
}
@media (min-width: 760px) {
    section {
        padding: 0;
    }
}





/* Loader -------------------------------------------- */

.Loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-flex;
    display: flex;
}
.Loader-logo {
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    fill: cornflowerblue;
}

.Loader-path {
    -webkit-animation: Loader--animate 1.2s cubic-bezier(1, 0, 1, 1) infinite alternate;
            animation: Loader--animate 1.2s cubic-bezier(1, 0, 1, 1) infinite alternate;
}

.Loader-path--1 { opacity: 1.0;  -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }
.Loader-path--2 { opacity: 0.5;  -webkit-animation-delay: -0.4s; animation-delay: -0.4s; }
.Loader-path--3 { opacity: 0.25; -webkit-animation-delay:    0s; animation-delay:    0s; }

@-webkit-keyframes Loader--animate { 100% { opacity: .1; } }
        @keyframes Loader--animate { 100% { opacity: .1; } }

